.benefits-section {
    padding-top: 60px;

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
    }

    &__list {
        @extend %flex;
        flex-wrap: wrap;
        align-items: flex-start;

        @media screen and (min-width: 768px) {
            
        }
        
        @media screen and (min-width: 768px) {
        }
    }

    &__title {
        margin-left: 150px;
        font-weight: 700;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: $team-texts-color;
        width: 270px;
        @extend %text;

        @media screen and (min-width: 768px) {
            margin-left: 0;
        }
    }

    &__text {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: $main-texts-color;
        width: 400px;
        margin-top: 10px;
        margin-bottom: 30px;
        
        @media screen and (min-width: 768px) {
            width: 354px;
        }

        @media screen and (min-width: 1200px) {
            width: 270px;
        }
    }
}

.benefits-section__item:before {
    width: 450px;
    height: 120px;
    content: "";
    display: block;
    border-radius: 4px;
    margin-bottom: 30px;
    background: #f5f4fa;
    background-size: 70px 70px;
    background-repeat: no-repeat;
    background-position: center;

    
    @media screen and (min-width: 768px) {
        width: 354px;
        margin-right: 30px;
    }

    @media screen and (min-width: 1200px) {
        width: 270px;
    }
}

.benefits-section__item:nth-child(1)::before {
    background-image: url("../img/antenna.png");
}

.benefits-section__item:nth-child(2)::before {
    background-image: url("../img/clock.png");
    margin-right: 0;
    
    @media screen and (min-width: 1200px) {
        margin-right: 30px;
    }
}

.benefits-section__item:nth-child(3)::before {
    background-image: url("../img/diagram.png");
}

.benefits-section__item:nth-child(4)::before {
    background-image: url("../img/astronaut.png");
    margin-right: 0;
}