.customers-section {
    padding-top: 94px;
    padding-bottom: 60px;

    &__titel {
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        letter-spacing: 0.03em;
        color: $team-texts-color;
        text-align: center;
    }

    &__list {
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        @media screen and (min-width: 1200px) {
            width: 1170px;
            justify-content: space-between;
            flex-wrap: nowrap;
        }
    }

    &__icon {
        fill: currentColor;
        transition: 0.2s;
    }

    &__item {
        border: 1px solid $customers-texts-color;
        width: 210px;
        height: 92px;
        border-radius: 4px;
        transition: 0.2s;
        color: $customers-texts-color;
        transition: all ease 0.3s;
        margin-right: 30px;
        margin-bottom: 30px;
        @extend %flex;

        &:nth-child(2n) {
            margin-right: 0;
            @media screen and (min-width: 720px) {
                margin-right: 30px;
            }
        }

        &:nth-child(2n + 1) {
            margin-right: 0;

            @media screen and (min-width: 450px) {
                margin-right: 30px;
            }
        }

        &:nth-child(3n) {
            @media screen and (min-width: 720px) {
                margin-right: 0;
            }

            @media screen and (min-width: 1200px) {
                margin-right: 30px;
            }
        }

        &:nth-child(5) {
            @media screen and (min-width: 480px) {
                margin-bottom: 0;
            }
        }

        &:nth-child(6) {
            margin-bottom: 0;
        }

        @media screen and (min-width: 768px) {
            width: 226px;
        }

        @media screen and (min-width: 1200px) {
            height: 90px;
            width: 170px;
        }

        &:hover {
            transform: skew(5deg, 15deg);
            color: $hover-texts-color;
            border-color: $hover-texts-color;
        }
    }
}

