.footer-sheet__section {
    background-color: #2F303A;
    padding: 60px 0;
    margin-top: 94px;
    display: flex;
    justify-content: space-between;

    &__container {
        display: flex;
    }

    &__list {
        margin-top: 20px;
    }
}

.div-sheet__icon {
    padding-top: 12px;
}

.footer-sheet__item {
    margin-top: 9px;

    &:first-child {
        margin-top: 0;
    }
}

.footer-sheet__address {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $secondary-texts-color;
    text-decoration: none;
}

.footer-sheet__contacts {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $footer-color;
    transition: all cubic-bezier(.1, .53, .86, .42) 0.3s;
    display: block;

    &:hover {
        color: $hover-texts-color;
        transform: scale(1.2);
    }
}

.footer-sheet__logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: $secondary-texts-color;
    text-decoration: none;
}

.footer-sheet__blue {
    color: $hover-texts-color;
}

.footer-sheet__email {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $footer-color;
    transition: all cubic-bezier(.1, .53, .86, .42) 0.3s;
    display: block;

    &:hover {
        color: $hover-texts-color;
        transform: scale(1.2);
    }
}

.footer-sheet__title {
    font-weight: 700;
    @extend %text; 
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $secondary-texts-color;
}

.icon {
    display: flex;
    padding-top: 20px;

    &__svg {
        fill: $secondary-texts-color;
    }
}

.icon__item {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    width: 44px;
    height: 44px;
    @extend %flex; 
    transition: all cubic-bezier(.1, .53, .86, .42) 0.3s;

    &:not(:last-child) {
        margin-right: 10px;
    }

    &:hover {
        background: $hover-texts-color;
        transform: rotate(1800deg);
    }
}

.footer-sheet__mailing-list {
    padding-top: 12px;
}

.footer-sheet__title2 {
    font-weight: 700;
    @extend %text;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $secondary-texts-color;
}

.footer-form {
    @extend %flex;
    width: 570px;
    margin-top: 20px;

    &__field {
        width: 358px;
        height: 50px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        background-color: transparent;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.25;
        padding: 15px 16px;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
        transition: 0.2s;

        &:hover {
            border-color: $hover-texts-color;
        }
    }
}

.footer-form__button {   
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    text-align: center;
    letter-spacing: 0.06em;
    color: $secondary-texts-color;
    transition: all cubic-bezier(.1, .53, .86, .42) 0.3s;
    @include button($width-button: 200px);
    @extend %flex;



    &:hover {
        transform: scale(1.1);
    }
}

.footer-form__send {
    fill: $secondary-texts-color;
    margin-left: 12px;
    transition: all cubic-bezier(.1, .53, .86, .42) 0.3s;

    &:hover {
        transform: rotate(720deg);
    }
}