.footer-sheet {
    background-color: #2F303A;
    padding: 60px 0;

    &__list {
        margin-top: 20px;
    }

    &__item {
        margin-top: 9px;

        &:first-child {
            margin-top: 0;
        }
    }

    &__address {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: $secondary-texts-color;
        text-decoration: none;
    }

    &__contacts {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: $footer-color;
        transition: all cubic-bezier(.1, .53, .86, .42) 0.3s;
        display: block;

        &:hover {
            color: $hover-texts-color;
            transform: scale(1.2);
        }
    }

    &__logo {
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: $secondary-texts-color;
        text-decoration: none;
    }

    &__blue {
        color: $hover-texts-color;
    }

    &__email {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: $footer-color;
        transition: all cubic-bezier(.1, .53, .86, .42) 0.3s;
        display: block;

        &:hover {
            color: $hover-texts-color;
            transform: scale(1.2);
        }
    }

    &__title {
        font-weight: 700;
        @extend %text;
        letter-spacing: 0.03em;
        font-size: 14px;
        text-transform: uppercase;
        color: $secondary-texts-color;

        @media screen and (min-width: 768px) {
            text-align: center;
        }

        @media screen and (min-width: 1200px) {
            text-align: start;
        }
    }

    &__mailinglist {
        padding-top: 12px;

        @media screen and (min-width: 1200px) {
            padding-top: 0;
        }
    }

    &__title2 {
        font-weight: 700;
        @extend %text;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: $secondary-texts-color;
        text-align: center;
        font-size: 14px;

        @media screen and (min-width: 1200px) {
            text-align: left;
        }
    }
}

.footer-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: 768px) {
        align-items: flex-start;
        flex-direction: row;
    }
}

.footer-item {
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    text-align: center;

    &:first-child {
        @media screen and (min-width: 768px) {
            margin-right: 165px;
        }

        @media screen and (min-width: 1200px) {
            margin-right: 70px;
        }
    }

    @media screen and (min-width: 768px) {
        text-align: left;
    }

    @media screen and (min-width: 1200px) {
        margin-right: 93px;
        margin-bottom: 0;
    }
}

.icon {
    display: flex;
    padding-top: 20px;

    &__svg {
        fill: $secondary-texts-color;
    }

    &__item {
        background: rgba(255, 255, 255, 0.1);
        border-radius: 50%;
        width: 44px;
        height: 44px;
        @extend %flex;
        transition: all cubic-bezier(.1, .53, .86, .42) 0.3s;

        &:not(:last-child) {
            margin-right: 10px;
        }

        &:hover {
            background: $hover-texts-color;
            transform: rotate(1800deg);
        }
    }
}

.footer-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    @media screen and (min-width: 1200px) {
        justify-content: space-between;
        width: 570px;
        flex-direction: row;
        margin-top: 0px;
    }

    &__field {
        width: auto;
        height: 50px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        background-color: transparent;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.25;
        padding: 15px 16px;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
        transition: 0.2s;
        margin: 20px 0;

        @media screen and (min-width: 480px) {
            width: 450px;
        }

        @media screen and (min-width: 1200px) {
            width: 358px;
        }

        &:hover {
            border-color: $hover-texts-color;
        }
    }

    &__button {
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        display: flex;
        text-align: center;
        letter-spacing: 0.06em;
        color: $secondary-texts-color;
        transition: all cubic-bezier(.1, .53, .86, .42) 0.3s;
        @include button($width-button: 200px);
        @extend %flex;

        &:hover {
            transform: scale(1.1);
        }
    }

    &__send {
        fill: $secondary-texts-color;
        margin-left: 12px;
        transition: all cubic-bezier(.1, .53, .86, .42) 0.3s;

        &:hover {
            transform: rotate(720deg);
        }
    }
}