.form-section {
    padding: 40px;
    width: 100%;
    height: 609px;
    position: absolute;
    z-index: 3;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: $secondary-texts-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    @media screen and (min-width: 480px) {
        width: 450px;
    }

    @media screen and (min-width: 1200px) {
        width: 500px;
        height: 620px;
    }

    &__title {
        font-weight: 700;
        font-size: 20px;
        line-height: 1.15;
        text-align: center;
        letter-spacing: 0.03em;
        color: $team-texts-color;
    }

    &__container {
        position: absolute;
        @extend %flex;
        top: 8px;
        right: 8px;
        width: 30px;
        height: 30px;
        background: $secondary-texts-color;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        transition: 0.2s;
    }

    &__item {
        margin-top: 10px;
        position: relative;
    
        &:first-child {
            margin-top: 12px;
        }
    
        &:last-child {
            font-family: 'Roboto';
            font-weight: 400;
            font-size: 12px;
            line-height: 1.71;
            letter-spacing: 0.03em;
            color: $main-texts-color;
            @extend %flex;
            margin-top: 20px;

            @media screen and (min-width: 768px) {

            }
        
            @media screen and (min-width: 1200px) {
                font-size: 14px;
            }
        }
    }
    
    &__sub-title {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        color: $main-texts-color;
    
    
        @media screen and (min-width: 1200px) {
            letter-spacing: 0.01em;
            font-size: 14px;
        }
    }
    
    &__textarea {
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        cursor: pointer;
        margin-top: 4px;
    
        &:hover {
            border-color: $hover-texts-color;
        }
    }
    
    &__field {
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        cursor: pointer;
        margin-top: 4px;
        padding: 12px 18px 12px 42px;
        height: 40px;
        width: 100%;
        display: block;
        
        @media screen and (min-width: 1200px) {
            width: 420px;
        }
    
        &:hover {
            border-color: $hover-texts-color;
        }
    }
    
    &__svg {
        position: absolute;
        bottom: 14px;
        left: 15px;
    }

    &__textarea {
        width: 100%;
        height: 100%;
        padding: 12px 16px;
        font-weight: 400;
        @extend %text;
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);

        @media screen and (min-width: 480px) {
            width: 370px;
            height: 120px;
        }
        
        @media screen and (min-width: 1200px) {
            width: 420px;
        }
    }
    
    &__checkbox {
        width: 16px;
        height: 15px;
    }

    &__container:hover>&__icon {
        fill: $hover-texts-color;
        transition: 0.2s;
    }
    
    &__field:focus+&__svg {
        fill: $hover-texts-color;
    }
    
    &__field:hover+&__svg {
        fill: $hover-texts-color;
    }
    
    &__link:link,&__link:visited {
        color: $hover-texts-color;
        text-decoration: underline $hover-texts-color;
    }
    
    &__button {
        width: 200px;
        height: 50px;
        background: $hover-texts-color;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        border: 0;
        display: block;
        margin: 30px auto 0;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.18;
        letter-spacing: 0.06em;
        color: $secondary-texts-color;
    }
}

.form-text {
    margin-left: 8.38px;
}


.form-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 2;
    transition: 0.4s;
}
