.header-sheet {
    height: 80px;
}

.header-sheet__container {
    display: flex;
    align-items: center;
    height: inherit;
}

.header-sheet__navigation {
    display: flex;
    align-items: center;
    -webkit-box-align: center;
}

.sheets {
    display: flex;
    justify-content: space-between;
    width: 290px;
    margin-left: 93px;
}

.contacts {
    display: flex;
    justify-content: space-between;
    width: 333px;
    margin-left: 309px;
}

.header-sheet__logo {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196f3;
    text-decoration: none;
}

.header-sheet__black {
    color: black;
}

.sheets__link {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    text-decoration: none;
    align-items: center;
    display: flex;
    transition: 0.2s;
    position: relative;
    height: 100%;
}

.sheets__link:hover {
    color: #2196F3;
}

.sheets__overlay::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    position: absolute;
    top: 96%;
    background-color: #2196F3;
    border-radius: 5px;
    margin-top: 30px;
}

.sheets__link:hover>svg {
    fill: #2196F3;
}

.contacts__icon {
    fill: #757575;
    margin-right: 10px;
}

.contacts__email {
    display: flex;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
    align-items: center;
}

.contacts__tell {
    display: flex;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
    align-items: center;
}

.contacts__tell:hover {
    color: #2196f3;
}

.contacts__email:hover {
    color: #2196f3;
}

.contacts__icon {
    fill: currentColor;
    transition: all cubic-bezier(.1, .53, .86, .42) 0.3s;
}

.contacts__icon:hover {
    transform: rotate(3600deg);
}

.contacts__item {
    transition: all cubic-bezier(.1, .53, .86, .42) 0.3s;
}

.contacts__item:hover {
    transform: translateY(-10px);
}
