.header-sheet {
    height: 80px;
}

.header-sheet__container {
    @extend %flex
    height: inherit;
}

.header-sheet__navigation {
    @extend %flex
    -webkit-box-align: center;
}

.sheets {
    @extend %flex
    width: 290px;
    margin-left: 93px;
    &__overlay::after {
        content: '';
        display: block;
        width: 100%;
        height: 3px;
        position: absolute;
        top: 96%;
        background-color: $hover-texts-color;
        border-radius: 5px;
        margin-top: 30px;
    }
}

.contacts {
    @extend %flex
    width: 333px;
    margin-left: 309px;
    &__tell {
        display: flex;
        font-weight: 500;
        @extend %text
        letter-spacing: 0.02em;
        color: $main-texts-color;
        text-decoration: none;
        align-items: center;
        &:hover {
            color: $hover-texts-color;
        }
    }
    &__email {
        display: flex;
        font-weight: 500;
        @extend %text
        letter-spacing: 0.02em;
        color: $main-texts-color;
        text-decoration: none;
        align-items: center;
        &:hover {
            color: $hover-texts-color;
        }
    }
}

.header-sheet__logo {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: $hover-texts-color;
    text-decoration: none;
}

.header-sheet__black {
    color: $team-texts-color;
}

.sheets__link {
    font-weight: 500;
    @extend %text
    letter-spacing: 0.02em;
    color: $team-texts-color;
    text-decoration: none;
    @extend %flex
    transition: 0.2s;
    position: relative;
    height: 100%;
    &:hover {
        color: $hover-texts-color;
    }
}

.sheets__link:hover>svg {
    fill: $hover-texts-color;
}

.contacts__icon {
    fill: $main-texts-color;
    margin-right: 10px;
    & {
        fill: currentColor;
        transition: all cubic-bezier(.1, .53, .86, .42) 0.3s;
        &:hover {
            transform: rotate(3600deg);
        }
    }
}

.contacts__item {
    transition: all cubic-bezier(.1, .53, .86, .42) 0.3s;
    &:hover {
        transform: translateY(-10px);
    }
}