.hero-section {
    @extend %flex flex-direction: column;
    background-color: #2f303a;
    height: 600px;

    background-image: linear-gradient(to left,
            $hero-background-color,
            $hero-background-color),
        url(../img/hero.jpg);

    &__button {
        font-weight: 700;
        font-size: 16px;
        line-height: 1.87;
        letter-spacing: 0.06em;
        color: $secondary-texts-color;
        margin-top: 30px;
        @include button($width-button: 216px)
    }

    &__title {
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: $secondary-texts-color;
        width: 696px;
    }
}