.hero-section {
    @media screen and (min-width: 480px) {
        flex-direction: column;
        background-color: #2f303a;
        height: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: linear-gradient(to left, $hero-background-color, $hero-box-shadow), url(../img/hero.jpg);
    }

    @media screen and (min-width: 1200px) {
        width: 100%;
        height: 600px;
    }

    &__button {
        font-weight: 700;
        font-size: 16px;
        line-height: 1.87;
        @extend %flex;
        letter-spacing: 0.06em;
        color: $secondary-texts-color;
        @include button($width-button: 216px);
        margin-top: 30px;
    }

    &__title {
        font-weight: 900;
        font-size: 26px;
        line-height: 1.62;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: $secondary-texts-color;

        @media screen and (min-width: 1200px) {
            font-size: 44px;
            line-height: 1.36;
            width: 696px;
        }
    }
}