.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 2;
    transition: 0.4s;

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s ease-in;
}

.menu {
    width: 100%;
    margin: 0 auto;
    height: 100%;
    background-color: #fff;
    padding: 40px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media screen and (min-width: 480px) {
        max-width: 480px;
    }

    &_close {
        background-color: rgba(240, 255, 255, 0);
        border: none;
        top: 8px;
        right: 8px;
        position: absolute;
    }

    &__text {
        margin-top: 64px;
    }

    &__social {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 22px;
        letter-spacing: 0.02em;
        color: #2196F3;
        margin-left: 10px;
        margin-right: 10px;

        @media screen and (min-width: 480px) {
            font-size: 18px;
        }

        &:nth-child(1) {
            margin-left: 0;
        }

        &:nth-child(4) {
            margin-right: 0;
        }
    }
}

.sheets-menu {
    &__link {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 25px;
        line-height: 1.17;
        letter-spacing: 0.02em;
        color: black;

        @media screen and (min-width: 480px) {
            font-size: 40px;
        }
    }

    &__item {
        margin-bottom: 20px;

        @media screen and (min-width: 480px) {
            margin-bottom: 35px;
        }
    }
}

.contacts-menu__tell {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #2196F3;

    @media screen and (min-width: 480px) {
        font-size: 34px;
    }
}

.contacts-menu__email {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: #757575;

    @media screen and (min-width: 480px) {
        font-size: 24px;

    }
}

.contacts-menu__item:first-child {
    margin-bottom: 15px;

    @media screen and (min-width: 480px) {
        margin-bottom: 32px;
    }
}