.team-section {
    background-color: #f5f4fa;
    padding: 94px 0;
}

.employee {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.employee__work {
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    padding-bottom: 30px;
}

.employee__name {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-top: 30px;
}

.employee__description {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
    margin-top: 10px;
}

.team-section__title {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.employee__img {
    background: url(4853.jpg);
    width: 270px;
    height: 260px;
    border-radius: 0px;
}

.employee__social {
    display: flex;
    padding-top: 16px;
    padding-left: 32px;
    transition: all cubic-bezier(.1, .53, .86, .42) 0.3s;
}

.employee__item:not(:last-child) {
    margin-right: 10px;
}

.employee__icon {
    fill: #afb1b8;
    transition: all ease 0.3s;
}

.employee__item {
    border-radius: 50%;
    background-color: #ffffff;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease 0.3s;
}

.employee__item:hover {
    background-color: #2196f3;
    transform: scale(1.3, 1.3)
}

.employee__item:hover .employee__icon {
    fill: #ffffff;
    transform: scale(1.3, 1.3)
}