.portf-work-section {
    padding-bottom: 50px 0;
}

.but {
    @extend %flex;
    margin: 0 auto;
    width: 611px;
    &__button {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.61;
        text-align: center;
        letter-spacing: 0.03em;
        color: $team-texts-color;
        background: #F5F4FA;
        border: 0;
        border-radius: 4px;
        padding: 6px 22px;
        transition: all cubic-bezier(.1, .53, .86, .42) 0.3s;
        &:hover {
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
            border-radius: 4px;
            background-color: $hover-texts-color;
            color: $secondary-texts-color;
            transform: translateY(-15px);
        }
    }
}

.portfolio-section {
    padding-top: 94px;
}



