.projection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
    align-items: center;
}

.projection__item {
    border: 1px solid #EEEEEE;
    padding-bottom: 20px;
    margin-top: 0;
    position: relative;
    transition: all ease-out 0.3s;
}

.projection__item:hover {
    transform: scale(1.1);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projection__item:nth-child(n+4) {
    margin-top: 30px;
}

.projection__item:nth-child(n+4) {
    margin-top: 30px;
}

.projection__img {
    background: url(portfolio1.jpg);
    padding-bottom: 20px;
}

.projection__name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
    margin-left: 24px;
}

.projection__text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: #757575;
    margin-top: 4px;
    margin-left: 24px;
}

.projection__overlay {
    position: absolute;
    background: rgba(33, 150, 243, 0.9);
    width: 370px;
    height: 294px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    top: 0;
    padding: 63px 24px;
    opacity: 0;
    transition: all cubic-bezier(.1, .53, .86, .42) 0.3s;
    transform: scale(1.1) rotate(10deg);
}

.projection__item:hover>.projection__overlay {
    opacity: 1;
    transform: translateY(0px) scale(1) rotate(0deg);
}
