ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    padding: 0;
    margin: 0;
}
    
p, h1, h2, h3, h4 {
    margin: 0;
}
    
* {
    font-family: "Roboto";
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

