<<<<<<< HEAD
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    }
        
    a {
    text-decoration: none;
    padding: 0;
    margin: 0;
    }
    
    p, h1, h2, h3, h4 {
    margin: 0;
    }
    
* {
    font-family: "Roboto";
}
=======
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    }
        
    a {
    text-decoration: none;
    padding: 0;
    margin: 0;
    }
    
    p, h1, h2, h3, h4 {
    margin: 0;
    }
    
>>>>>>> b3331e5aba54747e8189b404f6cb4eac5626215a
