ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    padding: 0;
    margin: 0;
}
    
p, h1, h2, h3, h4 {
    margin: 0;
}
    
* {
    font-family: "Roboto";
<<<<<<< HEAD
}
=======
}
>>>>>>> 5efd31660b0544c194632fa1bc750aa24d263ead
