$hover-texts-color: #2196F3;
$main-texts-color: #757575;
$secondary-texts-color: #ffffff;
$team-texts-color: #212121;
$hero-background-color: rgba(47, 48, 58, 0.4);
$hero-box-shadow: rgba(0, 0, 0, 0.15);
$footer-color: rgba(255, 255, 255, 0.6);
$customers-texts-color: #afb1b8;