/* секція хедер */

.header-portf {
    border: 1px solid #ECECEC;
}

.header-section {
    height: 80px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
}

.header-navigation {
    display: flex;
    align-items: center;
    -webkit-box-align: center;
    margin-top: 24px;
    margin-bottom: 25px;
}

.header-list {
    display: flex;
    justify-content: space-between;
    width: 290px;
    margin-left: 93px;
}

.header-list-contacts {
    display: flex;
    justify-content: space-between;
    width: 333px;
    margin-left: 309px;
}

.header-logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: black;
    text-decoration: none;
}

.logo-black {
    color:#2196F3;
}

.header-link {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    text-decoration: none;
    text-decoration: none;
    align-items: center;
    display: flex;
    transition: 0.2s;
    position: relative;
    height: 100%;
}

.header-link:hover {
    color: #2196F3;
}

.header-overlay::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    position: absolute;
    top: 96%;
    background-color: #2196F3;
    border-radius: 5px;
    margin-top: 25px;
}

.header-link:hover>svg {
    fill: #2196F3;
}

.header-icon {
    fill: #757575;
    margin-right: 10px;
}

.header-email {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
}

.header-contacts {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
}

.header-contacts:hover {
    color: #2196f3;
}

.header-email:hover {
    color: #2196f3;
}

.header-icon:hover {
    fill: currentColor;
}

/* секція меін */

/* кнопка */

.portf-work-section {
    padding-bottom: 50px 0;
}

.button-list {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 611px;
}

.portfolio-button-section {
    padding-top: 94px;
}

.portfolio-button {
font-family: 'Roboto';
font-weight: 500;
font-size: 16px;
line-height: 1.61;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
background: #F5F4FA;
border: 0;
border-radius: 4px;
padding: 6px 22px;
}

.portfolio-button:hover {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    background-color: #03A9F4;
    color: white;
}

.portf-work-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
    align-items: center;
}

.portf-work-item {
    border: 1px solid #EEEEEE;
    padding-bottom: 20px;
    margin-top: 0;
    position: relative;
}

.portf-work-item:nth-child(n+4){
    margin-top: 30px;
}

.portf-work-item:nth-child(n+4){
    margin-top: 30px;
}

.portf-work-img {
background: url(portfolio1.jpg);
padding-bottom: 20px;
}

.portf-work-name {
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: #212121;
margin-left: 24px;
}

.portf-work-text {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
color: #757575;
margin-top: 4px;
margin-left: 24px;
}

.portf-overlay {
    position: absolute;
    background: rgba(33, 150, 243, 0.9);
    width: 370px;
    height: 294px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    top: 0;
    padding: 63px 24px;
    opacity: 0;
    transition: 0.2s;
}

.portf-work-item:hover>.portf-overlay{
    opacity: 1;
}

.portf-work-item:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* футер */

.footer-section {
    background-color: #2F303A;
    padding: 60px 0;
    margin-top: 94px;
}

.footer-container {
    display: flex;
}

.div-icon {
    margin-left: 70px;
    padding-top: 12px;
}

.footer-list {
    margin-top: 20px;
}

.footer-item {
    margin-top: 9px;
}

.footer-item:first-child {
margin-top: 0;
}

.footer-address {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: white;
text-decoration: none;
}

.footer-contacts {
    font-family: 'Roboto';
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}

.footer-logo {
    font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: white;
text-decoration: none;
}

.logo-color {
    color: #2196F3;
}

.footer-email {
    font-family: 'Roboto';
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}


.footer-title {
    font-family: 'Roboto';
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #FFFFFF;
}

.footer-list-icon {
    display: flex;
    padding-top: 20px;
}

.footer-icon-item:not(:last-child) {
    margin-right: 10px;
}

.footer-icon {
    fill: #FFFFFF;
}

.footer-icon-item:hover {
    background-color: #2196F3 ;
}

.footer-icon-item {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-title2 {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.footer-mailing-list {
    margin-left: 93px;
    padding-top: 12px;
}

.footer-form{
    display: flex;
    justify-content: space-between;
    width: 570px;
    margin-top: 20px;
}

.footer-button2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    border: 0;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

.footer-field{
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    padding: 15px 16px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: ease 0.2s;
}

.footer-field:hover{
    border-color: #fff;
}

.footer-send{
    fill: #fff;
    margin-left: 12px;
}
