/* секція хедер */

.header-sheet {
    height: 80px;
}

.header-sheet__container {
    display: flex;
    align-items: center;
    height: inherit;
}

.header-sheet__navigation {
    display: flex;
    align-items: center;
    -webkit-box-align: center;
}

.sheets {
    display: flex;
    justify-content: space-between;
    width: 290px;
    margin-left: 93px;
}

.contacts {
    display: flex;
    justify-content: space-between;
    width: 333px;
    margin-left: 309px;
}

.header-sheet__logo {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196f3;
    text-decoration: none;
}

.header-sheet__black {
    color: black;
}

.sheets__link {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    text-decoration: none;
    align-items: center;
    display: flex;
    transition: 0.2s;
    position: relative;
    height: 100%;
}

.sheets__link:hover {
    color: #2196F3;
}

.sheets__overlay::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    position: absolute;
    top: 96%;
    background-color: #2196F3;
    border-radius: 5px;
    margin-top: 30px;
}

.sheets__link:hover>svg {
    fill: #2196F3;
}

.contacts__icon {
    fill: #757575;
    margin-right: 10px;
}

.contacts__email {
    display: flex;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
    align-items: center;
}

.contacts__tell {
    display: flex;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
    align-items: center;
}

.contacts__tell:hover {
    color: #2196f3;
}

.contacts__email:hover {
    color: #2196f3;
}

.contacts__icon {
    fill: currentColor;
    transition: all cubic-bezier(.1, .53, .86, .42) 0.3s;
}

.contacts__icon:hover {
    transform: rotate(3600deg);
}

.contacts__item {
    transition: all cubic-bezier(.1, .53, .86, .42) 0.3s;
}

.contacts__item:hover {
    transform: translateY(-10px);
}

/* секція меін */

/* кнопка */

.portf-work-section {
    padding-bottom: 50px 0;
}

.but {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 611px;
}

.portfolio-section {
    padding-top: 94px;
}

.but__button {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.61;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    background: #F5F4FA;
    border: 0;
    border-radius: 4px;
    padding: 6px 22px;
    transition: all cubic-bezier(.1, .53, .86, .42) 0.3s;
}

.but__button:hover {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    background-color: #03A9F4;
    color: white;
    transform: translateY(-15px);
}

/* секція проект  */

.projection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
    align-items: center;
}

.projection__item {
    border: 1px solid #EEEEEE;
    padding-bottom: 20px;
    margin-top: 0;
    position: relative;
    transition: all ease-out 0.3s;
}

.projection__item:hover {
    transform: scale(1.1);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projection__item:nth-child(n+4) {
    margin-top: 30px;
}

.projection__item:nth-child(n+4) {
    margin-top: 30px;
}

.projection__img {
    background: url(portfolio1.jpg);
    padding-bottom: 20px;
}

.projection__name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
    margin-left: 24px;
}

.projection__text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: #757575;
    margin-top: 4px;
    margin-left: 24px;
}

.projection__overlay {
    position: absolute;
    background: rgba(33, 150, 243, 0.9);
    width: 370px;
    height: 294px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    top: 0;
    padding: 63px 24px;
    opacity: 0;
    transition: all cubic-bezier(.1, .53, .86, .42) 0.3s;
    transform: scale(1.1) rotate(10deg);
}

.projection__item:hover>.projection__overlay {
    opacity: 1;
    transform: translateY(0px) scale(1) rotate(0deg);
}

/* секція футер */

.footer-sheet__section {
    background-color: #2F303A;
    padding: 60px 0;
    margin-top: 94px;
}

.footer-sheet__container {
    display: flex;
}

.div-sheet__icon {
    margin-left: 70px;
    padding-top: 12px;
}

.footer-sheet__list {
    margin-top: 20px;
}

.footer-sheet__item {
    margin-top: 9px;
}

.footer-sheet__item:first-child {
    margin-top: 0;
}

.footer-sheet__address {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: white;
    text-decoration: none;
}

.footer-sheet__contacts {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: all cubic-bezier(.1, .53, .86, .42) 0.3s;
    display: block;
}

.footer-sheet__logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: white;
    text-decoration: none;
}

.footer-sheet__blue {
    color: #2196F3;
}

.footer-sheet__email {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: all cubic-bezier(.1, .53, .86, .42) 0.3s;
    display: block;
}

.footer-sheet__email:hover {
    color: #2196F3;
    transform: scale(1.2);
}

.footer-sheet__contacts:hover {
    color: #2196F3;
    transform: scale(1.2);
}

.footer-sheet__title {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.icon {
    display: flex;
    padding-top: 20px;
}

.icon__item:not(:last-child) {
    margin-right: 10px;
}

.icon__svg {
    fill: #FFFFFF;
}

.icon__item {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all cubic-bezier(.1, .53, .86, .42) 0.3s;
}

.icon__item:hover {
    background: #2196F3;
    transform: rotate(1800deg);
}

.footer-sheet__mailing-list {
    margin-left: 93px;
    padding-top: 12px;
}

.footer-sheet__title2 {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.footer-form {
    display: flex;
    justify-content: space-between;
    width: 570px;
    margin-top: 20px;
}

.footer-form__field {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    padding: 15px 16px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: 0.2s;
}

.footer-form__field:hover {
    border-color: #2196F3;
}

.footer-form__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    border: 0;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    transition: all cubic-bezier(.1, .53, .86, .42) 0.3s;
}

.footer-form__button:hover {
    transform: scale(1.1);
}

.footer-form__send {
    fill: #FFFFFF;
    margin-left: 12px;
    transition: all cubic-bezier(.1, .53, .86, .42) 0.3s;
}

.footer-form__send:hover {
    transform: rotate(720deg);
}
