/* секція хедер */

.header-section{
    height: 80px;
}

.header-container {
    display: flex;
    align-items: center;
    height: inherit;
}

.header-navigation {
    display: flex;
    align-items: center;
    -webkit-box-align: center;
}

.header-list {
    display: flex;
    justify-content: space-between;
    width: 290px;
    margin-left: 93px;
}

.header-list-contacts {
    display: flex;
    justify-content: space-between;
    width: 307px;
    margin-left: 335px;
}

.header-logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;
    text-decoration: none;
}

.logo-black {
    color: black;
}

.header-link {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    text-decoration: none;
}

.header-link:hover {
    color: #03A9F4;
}

.header-email {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
}

.header-email:hover {
    color: #03A9F4;
}

.header-contacts {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;  
    text-decoration: none;
}

.header-contacts:hover {
    color: #03A9F4;
}

/* секція меін */

/* секція герой */

.hero-section {
    display: flex;
    flex-direction: column;
    background-color: #2F303A;
    height: 600px;
    align-items: center;
    justify-content: center;

}

.hero-title {
font-family: 'Roboto';
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: #FFFFFF;
width: 696px;
}

.hero-button {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;    
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: #2196F3;
    border: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    width: 200px;
    height: 50px;
    margin-top: 30px;
}

/* секція переваги */

.benefits-section {
    padding-top: 94px;
}

.benefits-list {
    display: flex;
    justify-content: space-between;
}

.benefits-title {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
    width: 270px;
}

.benefits-text {
font-family: 'Roboto';
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #757575;
width: 270px;
margin-top: 10px;
}

/* секція робота */

.work-section {
    padding: 94px 0;
}

.work-list {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.work-title {
font-family: 'Roboto';
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
margin-bottom: 50px;
}

.work-img {
    background: url(close-up-image-programer-working-his-desk-office_1098-18707.jpg);
    mix-blend-mode: normal;
}

/* секція команда */

.team-section {
    background-color: #f5f4fa;
    padding: 94px 0;
}

.team-list {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.team-item {
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    padding-bottom: 30px;
}

.team-name {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-top: 30px;
}

.team-description {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
    margin-top: 10px;
}

.team-title {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.team-img {
    background: url(4853.jpg);
    width: 270px;
    height: 260px;
    border-radius: 0px;
}

/* секція футер */

.footer-section {
    background-color: #2F303A;
    padding-bottom: 60px;
    margin-top: 10px;
}

.footer-list {
    margin-top: 20px;
}

.footer-item {
    margin-top: 9px;
}

.footer-item:first-child {
margin-top: 0;
}

.footer-address {
    font-family: 'Roboto';
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: white;
}

.footer-contacts {
    font-family: 'Roboto';
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}

.footer-logo {
    font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: white;
text-decoration: none;
padding-top: 60px;
}

.logo-color {
    color: #2196F3;
}

.footer-email {
    font-family: 'Roboto';
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}