/* Хедер */
.header-logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;
    margin-top: 24px;
    margin-bottom: 24px;
    }

.logo-color {
    color: black;
}

.header-navigation {
    display: flex;
    align-items: center;
    -webkit-box-align: center;
}

.header-item:first-child {
    padding-right: 54px;
}

.header-item:last-child {
    padding-left: 54px;
}

.header-list {
    display: flex;
    margin-left: 93px;
}

.header-item-email {
    padding-top: 24px;
    padding-bottom: 25px;
}

.header-list-contacts {
    display: flex;
}

.header-item-contacts {
    padding-top: 24px;
    padding-bottom: 25px;
    padding-left: 50px;
}

.header-link {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    
}
    .header-email {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
}
    .header-contacts {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
}
    
.header-link:hover {
    color: #03A9F4;
}
.header-email:hover {
    color: #03A9F4;
}
.header-contacts:hover {
    color: #03A9F4;
}

/* секція меін */

/* кнопка */

.portfolio-button {
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
border: none;
border-radius: 4px;
padding: 6px 23px 6px 23px;
}

.portfolio-button:hover {
    background-color: #03A9F4
}

.portfolio-button-section {
    padding-top: 94px;
}

.button-list {
    display: flex;
    justify-content: center;
}

.button-item {
    padding-right: 8px;
}

.button-item:last-child {
    padding-right: 0;
}

.portf-work-section {
    padding-top: 34px;
    padding-bottom: 94px;
}

.portf-work-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.portf-work-item {
    width: 370px;
    margin-right: 30px;
    margin-bottom: 50px;
}

.portf-work-img {
background: url(portfolio1.jpg);
padding-bottom: 20px;
}

.portf-work-name {
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: #212121;
padding-bottom: 4px;
}

.portf-work-test {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
color: #757575;
}

/* футер */

.footer-section {
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 72px;
}

.footer-logo {
    font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: white;
margin-bottom: 20px;
margin-left: 215px;
}

.logo-color {
    color: #2196F3;
}

.footer-item {
    padding-top: 9px;
    padding-bottom: 9px;
}

.footer-item:last-child {
    padding-top: 0;
    padding-bottom: 0;
}

.address-link {
    font-family: 'Roboto';
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: white;
}

.footer-email {
    font-family: 'Roboto';
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}

.footer-contacts {
    font-family: 'Roboto';
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}
