/* секція хедер */

.header-logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;
    }

.logo-color {
    color: black;
}

.header-navigation {
    display: flex;
    width: 1600px;
    height: 80px;
    justify-content: space-between;
}

.header-logo {
    padding-left: 215px;
    padding-top: 24px;
    padding-bottom: 25px;
    padding-right: 93px;
}
    
.header-list {
    padding-top: 24px;
    padding-bottom: 25px;
    padding-right: 335px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header-item {
width: 72px;
height: 16px;
}

.header-link:first-child {
padding-left: 93px;
}

.header-link:last-child {
    padding-right: 335px;
}

.header-list-contacts {
    display: flex;
    justify-content: space-around;
}

.header-item-email {
    padding-top: 24px;
    padding-bottom: 25px;
}

.header-item-contacts {
    padding-top: 24px;
    padding-bottom: 25px;
    padding-right: 215px;
    padding-left: 50px;
}







    .header-link {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    }
    .header-email {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    }
    .header-contacts {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    }
    
    .header-link:hover {
    color: #03A9F4;
    }
    .header-email:hover {
    color: #03A9F4;
    }
    .header-contacts:hover {
    color: #03A9F4;
    }

/* секція меін */

.benefits-list {
    display: flex;
}

.hero-title {
font-family: 'Roboto';
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
}

.hero-button {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87; 
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: #03A9F4;
}

.benefits-title {
    font-family: 'Roboto';
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #212121;
}
.benefits-text {
font-family: 'Roboto';
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #757575;
}

.work-title {
font-family: 'Roboto';
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}

.work-list {
    display: flex;
}

.work-img {
background: url(close-up-image-programer-working-his-desk-office_1098-18707.jpg);
mix-blend-mode: normal;
}

.team-list {
    display: flex;
}

.team-img {
    background: url(4853.jpg);
border-radius: 0px;
}

.team-name {
    font-family: 'Roboto';
font-weight: 500;
font-size: 16px;
line-height: 1.18;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}

.team-text {
    font-family: 'Roboto';
font-weight: 400;
font-size: 16px;
line-height: 1.18;
text-align: center;
letter-spacing: 0.03em;
color: #757575;

}

/* секція футер */

.footer-logo {
    font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: #2196F3;
}

.footer-link {
    font-family: 'Roboto';
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
}

.footer-email {
    font-family: 'Roboto';
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
}

.footer-contacts {
    font-family: 'Roboto';
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
}
